<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>HELLO, MY NAME IS</h4>
        <h1>MARINE PETIT</h1>
        <h4>CHEF DE PROJET WEB & DEVELOPPEUR RUBY JUNIOR </h4>
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>A PROPOS</h2>

        <p class="justify">Développeuse web & Chef de projet communication, je suis spécialisée dans les applications Ruby on Rails, je propose mes services en tant que freelance en région bordelaise. Je travaille principalement les technologies suivantes : Ruby on Rails, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, et Heroku.

        <br>
        <br>
        Je peux vous proposer mes services pour :
          <li>Site vitrine ou refonte de site,</li>
          <li>Le développement de sites événementiels, blogs, e-commerce,</li>
          <li>La maintenance de votre site,</li>
          <li>Le pilotage de projet print et web,</li>
          <li>La création et le développement d'une stratégie de communication digitale.</li>

        <br>
        <p class="justify">Je sais aussi travailler avec des CMS comme Wordpress et Prestashop pour la création de sites vitrines et e-commerces.</p>
        <br>
        <p class="justify">J'ai également un master en stratégie de communication digitale et je suis chef de projet web depuis 2012. Je saurai vous accompagner du début de votre projet jusqu'à la livraison de votre site.</p>
        <br>
        <p class="justify">Quel que soit votre besoin, n'hésitez pas à me contacter pour discuter ensemble de votre projet.</p>

        <br>
        <hr>
        <p><strong>Découvrez mon CV sur Linkedin: </strong></p>
         <a class="" href="https://www.linkedin.com/in/marine-petit-4a8a3563/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container" id="works">
  <div class="row centered mbt">
    <h1>MES PROJETS</h1>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/HiFive_vgqxx1.png" data-lightbox="gallery" data-title="HiFive">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091241/HiFive_vgqxx1.png" alt="HiFive">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/lea-vallejo_jv7zyp.png" data-lightbox="gallery" data-title="Lea Vallejo">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,r_0,w_300/v1490092076/lea-vallejo_jv7zyp.png" alt="Lea Vallejo">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/Appel-Medical_jizyb4.jpg" data-lightbox="gallery" data-title="Appel-Medical">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091240/Appel-Medical_jizyb4.jpg" alt="Appel-Medical">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490092789/Journee-de-la-naissance_ikxgys.png" data-lightbox="gallery" data-title="Journee de la naissance">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490092789/Journee-de-la-naissance_ikxgys.png" alt="Journee de la naissance">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/Sirems-Service_eqcjv2.png" data-lightbox="gallery" data-title="Sirems Service">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490092856/Sirems-Service_eqcjv2.png" alt="Sirems-Service">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/AG-Vins_qyuksa.jpg" data-lightbox="gallery" data-title="AG Vins">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091240/AG-Vins_qyuksa.jpg" alt="AG-Vins">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/Biscabois_zqvsi2.jpg" data-lightbox="gallery" data-title="Biscabois">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091240/Biscabois_zqvsi2.jpg" alt="Biscabois">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/Coates-Assurances_ozd5pc.png" data-lightbox="gallery" data-title="Coates Assurances">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091241/Coates-Assurances_ozd5pc.png" alt="Coates-Assurances">
    </a>
    <a href="http://res.cloudinary.com/db6cwsgoc/image/upload/Essentiel-des-spectacles_btsfwp.jpg" data-lightbox="gallery" data-title="Essentiel des Spectacles">
      <img class="example-image" src="http://res.cloudinary.com/db6cwsgoc/image/upload/c_fill,g_north_west,h_300,w_300/v1490091241/Essentiel-des-spectacles_btsfwp.jpg" alt="Essentiel-des-spectacles">
    </a>
  </div>
</div>

<div id="social">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-2 col-md-2">
        <a href="https://github.com/MarinePiew/" target="_blank"><i class="fa fa-github"></i></a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="https://twitter.com/MarinePiew" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="https://www.linkedin.com/in/marine-petit-4a8a3563/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="http://www.viadeo.com/p/00261nzg729g4la" target="_blank"><i class="fa fa-viadeo"></i></a>
      </div>
      <div class="col-lg-4 col-md-4">
        <p><b>Marine Petit</b></p>
        <p>06.85.45.51.94</p>
        <p><%= mail_to "petitm31@gmail.com" %></p>
      </div>
    </div>
  </div>
</div>
